body{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: aqua;
    padding: 20px;
    margin: 0;
    text-align: right;
}
.nav a{
    padding: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    
}
.amazon{
    height: 50px;
    width: 150px;
    margin-right: 180px;
}
.nav input{
    padding: 5px;
    border-radius: 20px;
    margin-right: 700px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: medium;
    background-color: aquamarine;
    height: 30px;
    width: 200px;

}
.nav input:hover{
    background-color: pink;
    height: 60px;
    width: 400px;
    transition: 1s;   
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
   
    display: grid;
    grid-template-columns: 400px 400px 400px 200px;
    margin-left: 20px;
    
    padding: 10px;
    
}
.image1{
    border: 2px solid black;
    width: 160px;
    padding: 20px;
    background-color: lightsalmon;
    border-radius: 30px;
}
.image1 button{
    height: 30px;
    width: 100px;
    background-color: aquamarine;
    border: none;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;

}


